@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

html.dark {
    color: white;
    background: black;
}

html:not(.dark) {
    color: black;
    background-color: rgb(235, 235, 235);
}

@theme {
    --breakpoint-xs: 30rem;

    --color-canary: #ffc800;
    --color-blue: #46c8dc;
    --color-pink: #ff8787;
    --color-coral: #fb923c;

    --font-default: 'Poppins', sans-serif;
    --font-hand: 'Gochi Hand', sans-serif;
    --font-code: 'Source Code Pro', mono;

    --inset-shadow-btn_default:
        inset -4px -4px 6px 1px rgb(0 0 0 / 0.2),
        inset 4px 4px 6px 2px rgb(255 255 255 / 0.5);
    --inset-shadow-btn_active:
        inset 2px 2px 8px 2px rgb(0 0 0 / 0.4),
        inset -2px -2px 6px 2px rgb(255 255 255 / 0.5);
    --inset-shadow-t-dark: inset 4px 4px 6px 1px rgb(0 0 0 / 0.4);
    --inset-shadow-b-dark: inset -4px -4px 6px 1px rgb(0 0 0 / 0.2);
    --inset-shadow-t-light: inset 4px 4px 6px 1px rgb(255 255 255 / 0.2);

    --shadow-canary: 0 0 10px 2px rgb(255 200 0 / 0.8);
    --shadow-pink: 0 0 10px 2px rgb(255 135 135 / 0.8);
    --shadow-blue: 0 0 10px 2px rgb(70 200 220 / 0.8);
    --shadow-white: 0 0 15px 4px rgb(255 255 255 / 0.5);

    --text-shadow-white: 2px 2px 6px rgb(255 255 255 / 0.8);
    --text-shadow-pink: 2px 2px 6px rgb(255 135 135 / 0.8);
}

@layer utilities {
    .center {
        @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transform;
    }

    .flex-center {
        @apply flex items-center justify-center;
    }

    .flex-between {
        @apply flex items-center justify-between;
    }
}

.vertical-rl {
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

.slide_left {
    opacity: 1;
    transition: all 0.8s ease;

    @starting-style {
        opacity: 0;
        translate: 150px 0;
    }
}

.slide_up {
    opacity: 1;
    transition: all 0.8s ease;

    @starting-style {
        opacity: 0;
        translate: 0 100px;
    }
}

.scale_up {
    opacity: 1;
    transition: all 0.6s ease;

    @starting-style {
        opacity: 0;
        transform: scale(0.2);
    }
}

.scale_down {
    opacity: 0;
    transform: scale(0.3);
    transition: all 0.5s ease-in-out;

    @starting-style {
        opacity: 1;
    }
}

@keyframes wave {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
.animate-wave {
    display: flex;
    width: 200%;
    animation: wave 12s linear infinite;
}
